{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
	<div class="social-box">
    <div class="container">
     	<div class="row">
			 
			    <div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h3>Utilisateurs</h3>
						</div>
						<div class="box-text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
						<div class="box-btn">
						    <a href="#">Learn More</a>
						</div>
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-xs-12  text-center">
					<div class="box">
					    <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h3>Equipes</h3>
						</div>
						<div class="box-text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
						<div class="box-btn">
						    <a href="#">Learn More</a>
						</div>
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h3>Flags</h3>
						</div>
						<div class="box-text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
						<div class="box-btn">
						    <a href="#">Learn More</a>
						</div>
					 </div>
				</div>	 
				
				<div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <i class="fa fa-pinterest-p fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h3>Classement</h3>
						</div>
						<div class="box-text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
						<div class="box-btn">
						    <a href="#">Learn More</a>
						</div>
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
					    <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h3>Statistiques</h3>
						</div>
						<div class="box-text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
						<div class="box-btn">
						    <a href="#">Learn More</a>
						</div>
					 </div>
				</div>	 
				
				 <div class="col-lg-4 col-xs-12 text-center">
					<div class="box">
                        <i class="fa fa-github fa-3x" aria-hidden="true"></i>
						<div class="box-title">
							<h3>Github</h3>
						</div>
						<div class="box-text">
							<span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
						</div>
						<div class="box-btn">
						    <a href="#">Learn More</a>
						</div>
					 </div>
				</div>
		
		</div>		
    </div>
</div>
{% endblock %}

